@tailwind base;
@tailwind components;
@tailwind utilities;


.gradient_heading {
  background: linear-gradient(90deg, #f12711 0%, #f5af19 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}