<main class=" w-full sm:h-svh h-screen grid place-items-center bg-zinc-900 grid_background">
  <div>
    <h1 class="gradient_heading text-3xl md:text-4xl font-extrabold uppercase">User Post Managment</h1>
    
    <p class="text-lg md:text-xl text-gray-400 pt-2">Welcome to the user post managment system. Here you can manage the
      user posts.</p>

    <a href="/auth/signup"
      class="text-base md:text-lg text-white px-4 py-1 rounded-md bg-orange-500/50 border border-orange-400 mt-4 inline-block">Register</a>

  </div>
</main>